.DS_Store
.AppleDouble
.LSOverride


__pycache__/
*.py[cod]
*$py.class


venv/
env/
.env


data/
intersection_data_1106/
*.npy
*.csv
*.pkl


code/ppo/learned_policies
runs/
*.pt
*.pth


.vscode/
.idea/


plots/