.DS_Store
.AppleDouble
.LSOverride


__pycache__/
*.py[cod]
*$py.class


venv/
env/
.env


data/
intersection_data_1106/
*.npy
*.csv
*.pkl

code/lagrange_ppo/learned_policies
code/lagrange_ppo_bc/learned_policies
code/ppo/learned_policies
runs/
*.pt
*.pth


.vscode/
.idea/


plots/

code/MPC/animations_mpc/
code/LQR/animations_lqr_yaml
code/MPC_lagrange_ppo/learned_policies/